@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";


.container {
  width: 600px;
  max-height: 800px;
  border: solid 2px grey;
  border-radius: 15px;
  background-color: #F3FFBD;
  background: linear-gradient(to bottom, #f3ffbd, white);
  margin: 100px auto;
  position: relative;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  padding-left: 0px;
  padding-right: 0px;
}


.header{
  width: 100%;
  height: 157px;
  padding: 30px 30px 15px 30px;
  text-align: center;
  color: #fff;
  border-radius: 15px 15px 0 0;
  background-image: url(https://images2.imgbox.com/d2/7d/BU0ZSp93_o.jpg);
  background-size: cover;
  background-position: center bottom;
  h1 {
    text-align: left;
    font-size: 26px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 50%;
      height: 2px;
      background-color: #ffb200;
    }
  }
  .info {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;

    .item {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:last-child {
        justify-content: flex-end;
      }
    }
    .far {
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
    .inner {
      margin-right: 7px;
      &:nth-child(2) {
        text-align: left;
      }
      .bottom {
        opacity: 0.8;
      }
    }
    .day {
      font-size: 42px;
      font-weight: 600;
    }
    .week {
      font-weight: 600;
    }
  }
}
